body {
    font-family: "Noto Sans";
    color: black;
    background-color: white;
    align-items: start;
}


.home-page {
    margin: 1rem;
    display: grid;
    grid-template-areas:
      "logo slogan signup"
      "nav-info info-grid info-grid";
    grid-template-rows: auto auto auto;
  }



.logo {
    font-size: 2.5rem;
    font-weight:900;
    line-height: 100%;
    margin: 0.5rem 0 0.5rem 0;
    grid-area: logo;
}

.slogan {
    align-self: end;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    grid-area: slogan;
}

.info-grid {
    margin-left: 1rem;
    margin-top: 1rem;
    grid-area: info-grid;
}

.signup-button {
    grid-area: signup;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: end;
    justify-content: end;
    
}


