.signup-a {
  border: black solid 4px;
  padding: 0.25rem 1rem;
  background-color: #cdcdcd;
  color: black;
  font-weight: 700;
}

.signup-a:hover {
  color: black;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.25);
}